#!/usr/bin/env bash

export OS_AUTH_URL={{ OS_AUTH_URL }}

export OS_PROJECT_ID={{ OS_PROJECT_ID }}
export OS_PROJECT_NAME={{ OS_PROJECT_NAME }}
export OS_USER_DOMAIN_NAME={{ OS_USER_DOMAIN_NAME }}
if [ -z "\$OS_USER_DOMAIN_NAME" ]; then unset OS_USER_DOMAIN_NAME; fi
export OS_PROJECT_DOMAIN_ID="default"
if [ -z "\$OS_PROJECT_DOMAIN_ID" ]; then unset OS_PROJECT_DOMAIN_ID; fi
# unset v2.0 items in case set
unset OS_TENANT_ID
unset OS_TENANT_NAME
# In addition to the owning entity (tenant), OpenStack stores the entity
# performing the action as the **user**.
export OS_USERNAME={{ OS_USERNAME }}
export OS_PASSWORD={{ OS_PASSWORD }}

{% if OS_REGION_NAME is defined %}
export OS_REGION_NAME={{ OS_REGION_NAME }}
{% endif %}
{% if cacert_file_name is defined %}
export OS_CACERT=/etc/nfvbench/cacert.pem
{% endif %}
# Don't leave a blank variable, unset it if it was empty
if [ -z "\$OS_REGION_NAME" ]; then unset OS_REGION_NAME; fi
export OS_INTERFACE=public
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_DOMAIN_NAME={{ OS_PROJECT_DOMAIN_NAME }}
export OS_INTERFACE=public
